[data-theme="light"] {
    --bg: url('./assets/TaikutsuPattern(7).png'), linear-gradient(45deg, #ff7700 0%,#ffe30e 99%,#ffe30e 100%,#ffe30e 100%,#ffd500 100%);
    --bgColor: #ff7700;
    --topBg: linear-gradient( 45deg, #ff7700 0%, #ffd500 100%, #88bacf 100% );
    --navBg: white;
    --navText: #ff7700;
    --navHoverBg: #ff7700;
    --navHoverText: white;
    --searchBg: #e9e9e9;
    --colorText: #ff7700;
    --buttonHover: #ff7700;
    --textHover: white;
    --auxText: black;
    --auxReverse: white;
    --tagBg: white;
    --tagHover: #ff7700;
    --tagText: #ff7700;
    --tagHoverText: white;
    --cardBg: white;
    --cardButtonBg: linear-gradient(45deg, #db6600 0%,#db6600 28%,#ffd269 99%,#ffd269 100%);
    --cardButtonBgHover: white;
    --cardButtonBgTextHover: #ff7700;
    --cardButtonHoverBorder: #ff7700;
    --cardBorder: #e9e9e9;
    --cardTagBg: #ff7700;
    --cardTagText: white;
    --oldPrice: #999;
    --preference: white;
    --preferenceSelected: black;
    --preferenceSelectedText: white;
    --preferenceBorder: black;
    --preferenceText: #ff7700;
    --confirmPreference: black;
    --cartContainer: white;
    --cartCardBorder: #ff7700;
    --profileButton: #ff7700;
    --importantText: #ff7700;
    --noProfileBg: white;
    --profileModal: white;
    --profileChip: #ffbd83;
    --profileChipButton: #ff7700;
    --productPageBg: url('./assets/TaikutsuPattern(8).png'), linear-gradient(45deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    --productTag: #ff7700;
    --miscButton: #ff7700;
    --goBackButton: #bd5800;
    --testimonialBg: white;
    --date: #959595;
    --burgerMenu: #ff7700;
    --burgerMenuHover: white;
    --burgerMenuSticks: #ff7700;
    --burgerMenuSticksHover: #fff;
    --burgerMenuBg: #fff;
    --burgerMenuButton: #fff;
    --burgerMenuButtonHover: #ff7700;
    --burgerMenuText: #ff7700;
    --burgerMenuTextHover: #fff;
    --profileBodyBg: #ffb777;
    --preferenceTagBg: #ff7700;
    --pageButton: #ff7700;
    --spinner: #ff7700;
}

[data-theme="dark"] {
    --bg: url('./assets/DarkTaikutsu(2).png'), linear-gradient(45deg,rgba(19, 8, 23, 1) 0%, rgba(19, 0, 57, 1) 0%, rgba(12, 8, 20, 1) 0%, rgba(46, 29, 89, 1) 100%);
    --bgColor: rgba(46, 29, 89, 1);
    --topBg: linear-gradient(45deg,rgba(19, 8, 23, 1) 0%, rgba(19, 0, 57, 1) 0%, rgba(12, 8, 20, 1) 0%, rgba(46, 29, 89, 1) 100%);
    --navBg: #1a1a2e;
    --navText: #ff7700;
    --navHoverBg: #ff7700;
    --navHoverText: white;
    --searchBg: #2a2a3e;
    --colorText: #2ed18e;
    --buttonHover: #2ed18e;
    --textHover: black;
    --auxText: white;
    --auxReverse: black;
    --tagBg: #2a2a3e;
    --tagHover: black;
    --tagText: white;
    --tagHoverText: #2ed18e;
    --cardBg: #2a2a3e;
    --cardButtonBg: linear-gradient(45deg,rgba(0, 128, 70, 1) 0%, rgba(0, 255, 136, 1) 100%);
    --cardButtonBgHover: black;
    --cardButtonBgTextHover: #2ed18e;
    --cardButtonHoverBorder: #2ed18e;
    --cardBorder: #3a3a5e;
    --cardTagBg: #2ed18e;
    --cardTagText: black;
    --oldPrice: #888;
    --preference: black;
    --preferenceSelected: #2ed18e;
    --preferenceBorder: black;
    --preferenceText: #2ed18e;
    --preferenceSelectedText: black;
    --confirmPreference: #2ed18e;
    --cartContainer: #2a2a3e;
    --cartCardBorder: #2ed18e;
    --profileButton: #2ed18e;
    --importantText: #2ed18e;
    --noProfileBg: rgba(46, 29, 89, 1);
    --profileModal: #2a2a3e;
    --profileChip: #aeedd3;
    --profileChipButton: #2ed18e;
    --productPageBg: url('./assets/TaikutsuPatternGrey.png'), linear-gradient(45deg,rgba(35, 35, 35, 1) 0%, rgba(35, 35, 35, 1) 100%);
    --productTag: #2ed18e;
    --miscButton: #2ed18e;
    --goBackButton: #219867;
    --testimonialBg: #000000;
    --date: #2ed18e;
    --burgerMenu: #2ed18e;
    --burgerMenuHover: rgba(46, 29, 89, 1);
    --burgerMenuSticks: #2ed18e;
    --burgerMenuSticksHover: #2a2a3e;
    --burgerMenuBg: #000;
    --burgerMenuButton: #000;
    --burgerMenuButtonHover: #2ed18e;
    --burgerMenuText: #2ed18e;
    --burgerMenuTextHover: #000;
    --profileBodyBg: #2a2a3e;
    --preferenceTagBg: #2ed18e;
    --pageButton: #2ed18e;
    --spinner: #2ed18e;
}