.aboutUsBg {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    background-image: var(--bg);
    background-color: var(--bgColor);


    div {
        background-color: white;
        width: 400px;
        height: 400px;
        display: flex;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 500px;

        img {
            width: 200px;
        }
    }

    p {
        width: 80vw;
        font-size: 24px;
        color: var(--auxText);

        span {
            color: #ffe30e;
            font-weight: bold;
        }
    }
}
