.mainPageBg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-image: var(--bg);
    background-color: var(--bgColor);

    background-size: 2000px auto, cover;
    background-repeat: repeat, no-repeat;
    background-position: top left, center;

    @media screen and (max-width: 1040px) {
        .mainPageBg{
            background-size: 1000px auto, cover;
        }

        .tagSearchCont{

        }
    }
}

.tagSearchCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
    width: 90vw;
    gap: 40px;

    h2 {
        color: var(--auxText);
    }
}

.tagSearchTags {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;

    li {
        transition: 0.1s;
        background-color: var(--tagBg);
        padding: 10px;
        color: var(--tagText);
        border-radius: 25px;

        &.active {
            background-color: var(--tagHover);
            color: var(--tagHoverText);
        }
    }

        li:hover {
            transition: 0.1s;
            transform: scale(1.15);
            background-color: var(--tagHover);
            color: var(--tagHoverText);
        }
}

