.mostPopularBg {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    flex-direction: column;
    gap: 150px;
    padding-bottom: 100px;
    background-image: url('../assets/TaikutsuPattern(2).png'), linear-gradient(45deg, #ff7700 0%,#ffe30e 99%,#ffe30e 100%,#ffe30e 100%,#ffd500 100%);
        h1{
            font-size: 48px;
        }
}

.mostPopularList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
}

.mostPopularCard {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 340px;
    height: 670px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.1s;
    width: 340px;
    height: 670px;
    transition: 0.1s;
    gap: 38px;
    background-color: white;
    display: flex;
    flex-direction: column;

    img {
        height: 250px;
        width: 200px;
        object-fit: fill;
        align-self: center;
    }

    .name {
        align-self: center;
        text-align: center;
        font-size: 16px;
        width: 300px;
    }

    .price {
        align-self: center;
        font-size: 28px;
    }

    .addToCart {
        align-self: center;
        height: 65px;
        border: none;
        color: white;
        position: absolute;
        transition: 0.1s;
        z-index: 0;
        margin-top: 605px;
        transition: 0.1s;
        width: 340px;
        font-size: 18px;
        background: linear-gradient(45deg, #db6600 0%,#db6600 28%,#ffd269 99%,#ffd269 100%);
    }

    .tagList {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .tag {
        background-color: #ff7700;
        padding: 5px;
        color: white;
        border-radius: 50px;
        font-size: 16px;
    }

    .ratingDisplay {
        font-size: 24px;
        display: flex;
        width: 100%;
        padding-left: 20px;
        color: gold;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
    }
}

    .mostPopularCard:hover {
        transform: scale(1.04);
        transition: 0.1s;

        .addToCart:hover {
            background: white;
            border: 2px solid #FF7700;
            color: #FF7700;
            transition: 0.2s;
        }
    }