.pageWidget {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pageButton {
    background-color: var(--pageButton);
    width: 75px;
    height: 40px;
    border: none;
    color: var(--auxReverse);
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid var(--auxText);
}

.pageButtonInvis {
    background-color: white;
    color: white;
    width: 75px;
    height: 40px;
    border: none;
    border-radius: 50px;
}

.pageNumber {
    background-color: var(--pageButton);
    color: var(--auxReverse);
    border: none;
    width: 50px;
    height: 40px;
    text-align: center;
    padding-top: 2.5px;
    border-radius: 50px;
    margin-bottom: 50px;
    border: 2px solid var(--auxText);
}

.pageNumblet {
    width: 20px;
    height: 20px;
    background-color: var(--pageButton);
}
