.pageContainer {
    width: 100vw;
    background: var(--productPageBg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;

    .infoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 80vw;
        gap: 150px;
        height: 80vh;

        img {
            height: 500.5px;
        }

        .thumbnailAndImages {
            display: flex;
            width: 550px;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding-left: 50px;
            padding-bottom: 50px;

            .thumbnail {
                transform: scale(70%)
            }

            .imageRow {
                list-style: none;
                gap: 5px;
                display: flex;
                flex-direction: row;

                li img {
                    width: auto;
                    height: 155px;
                }
            }
        }

        .tagsAndOther {
            .tag {
                color: var(--auxReverse);
                background-color: var(--productTag);
                padding: 10px;
                border-radius: 25px;
                width: 30%;
                display: flex;
                justify-content: center;
            }

            h2 {
                color: var(--auxText);
                font-size: 48px;
            }

            p {
                color: var(--auxText);
                font-size: 20px;
                width: 580px;
            }

            gap: 20px;
            width: 100%;
            height: 100%;
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;

            .priceAndButtons {
                display: flex;
                flex-direction: row;
                gap: 40px;
                align-items: center;
                justify-content: center;

                span {
                    color: var(--auxText);
                    font-size: 36px;
                }

                .buttons {
                    display: flex;
                    flex-direction: row;

                    button:nth-child(1) {
                        background-color: var(--miscButton);
                        color: var(--auxReverse);
                        border: none;
                        padding: 10px;
                        border-top-left-radius: 50px;
                        border-bottom-left-radius: 50px;
                        width: 210px;
                        font-size: 14px;
                        font-weight: bold;
                        height: 50px;
                    }

                    button:nth-child(2) {
                        color: white;
                        background-color: var(--goBackButton);
                        border: 2px solid var(--goBackButton);
                        padding: 10px;
                        border-top-right-radius: 50px;
                        border-bottom-right-radius: 50px;
                        font-size: 14px;
                        font-weight: bold;
                        width: 150px;
                        height: 50px;
                        color: white;
                    }
                }
            }
        }
    }

    .reviewsCont {
        background-color: var(--bgColor);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 200px;
        flex-direction: column;

        h2 {
            margin-bottom: 100px;
            font-size: 36px;
            color: var(--auxText);
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 70%;
            gap: 50px;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .reviewCard {
                    background-color: var(--testimonialBg);
                    width: 550px;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 20px;
                    gap: 15px;

                    .reviewerInfo {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        width: 200px;

                        div {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            height: 60px;
                            width: 300px;

                            span {
                                color: var(--auxText);
                            }

                            .date {
                                color: var(--date);
                            }
                        }

                        img {
                            width: 60px;
                        }
                    }

                    .ratingAndComment {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: 10px;
                        width: 100%;
                        margin-top: 10px;

                        div {
                            font-size: 20px;
                            letter-spacing: 4px;
                            color: #ffd800;
                            -webkit-text-stroke-width: 0.5px;
                            -webkit-text-stroke-color: black;
                        }

                        span {
                            margin-bottom: 20px;
                            color: var(--auxText);
                        }
                    }
                }
            }
        }
    }
}
