.pageContainer {
    width: 100vw;
    height: 85vh;
    background: var(--productPageBg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    .infoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 80vw;
        gap: 150px;
        height: 80vh;

        img {
            height: 500.5px;
        }

        .thumbnailAndImages {
            display: flex;
            width: 550px;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding-left: 50px;
            padding-bottom: 50px;
<<<<<<< HEAD

            .thumbnail {
                transform: scale(70%)
            }

            .imageRow {
                list-style: none;
                gap: 5px;
                display: flex;
                flex-direction: row;

                li img {
                    width: auto;
                    height: 155px;
=======

            .thumbnail {
                transform: scale(70%)
            }

            .imageRow {
                list-style: none;
                gap: 5px;
                display: flex;
                flex-direction: row;

                li img {
                    width: auto;
                    height: 155px;
                }
            }
        }

        .tagsAndOther {
            ul {
                display: flex;
                list-style: none;
                flex-direction: row;
                gap: 10px;

                .tag {
                    color: var(--auxReverse);
                    background-color: var(--productTag);
                    padding: 10px;
                    border-radius: 25px;
>>>>>>> 868210d7054466c3f8d446fb4c36d40280a576f5
                }
            }
        }

        .tagsAndOther {
            .tag {
                color: var(--auxReverse);
                background-color: var(--productTag);
                padding: 10px;
                border-radius: 25px;
                width: 30%;
                display: flex;
                justify-content: center;
            }

            h2 {
                color: var(--auxText);
                font-size: 48px;
            }

            p {
                color: var(--auxText);
                font-size: 20px;
                width: 580px;
            }

            gap: 20px;
            width: 100%;
            height: 100%;
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;

            .priceAndButtons {
                display: flex;
                flex-direction: row;
                gap: 40px;
                align-items: center;
                justify-content: center;

                span {
                    color: var(--auxText);
                    font-size: 36px;
                }

                .buttons {
                    display: flex;
                    flex-direction: row;

                    button:nth-child(1) {
                        background-color: var(--miscButton);
                        color: var(--auxReverse);
                        border: none;
                        padding: 10px;
                        border-top-left-radius: 50px;
                        border-bottom-left-radius: 50px;
                        width: 210px;
                        font-size: 14px;
                        font-weight: bold;
                        height: 50px;
                    }

                    button:nth-child(2) {
                        color: white;
                        background-color: var(--goBackButton);
                        border: 2px solid var(--goBackButton);
                        padding: 10px;
                        border-top-right-radius: 50px;
                        border-bottom-right-radius: 50px;
                        font-size: 14px;
                        font-weight: bold;
                        width: 150px;
                        height: 50px;
                        color: white;
                    }
                }
            }
        }
    }
}
