.productCardSectionBg {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 100px;

    h1 {
        font-size: 48px;
        color: var(--auxText);
    }

    @media screen and (max-width: 1040px) {
        .productCard {
            transform: scale(80%);
        }

        .productCard:hover{
            transform: scale(85%);
        }
    }
}

.productCardList{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    flex-wrap: wrap;

    a{
        text-decoration: none;
        color: var(--auxText);
    }
}

.productCard {
    background-color: var(--cardBg);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.1s;
    width: 300px;
    height: 630px;
    gap: 25px;
    display: flex;
    flex-direction: column;

    a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;

        img {
            height: 200px;
            object-fit: fill;
            align-self: center;
        }

        .name {
            align-self: center;
            text-align: center;
            font-size: 16px;
            width: 300px;
            height: 50px;
        }

        .oldPrice {
            text-decoration: line-through;
            color: var(--oldPrice);
        }

        .price {
            align-self: center;
            font-size: 28px;
        }

        .tag {
            background-color: var(--cardTagBg);
            color: var(--cardTagText);
            padding: 5px;
            border-radius: 50px;
            font-size: 16px;
        }

        .topBar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .discount {
            background-color: var(--cardTagBg);
            color: var(--cardTagText);
            padding: 10px;
            align-self: flex-end;
        }

        .ratingDisplay {
            font-size: 24px;
            display: flex;
            width: 100%;
            padding-left: 20px;
            margin-right: auto;
            color: gold;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: black;
        }
    }

    .addToCart {
        align-self: center;
        height: 65px;
        border: none;
        color: var(--textHover);
        z-index: 0;
        margin-top: 605px;
        width: 300px;
        font-size: 18px;
        background: var(--cardButtonBg);
        margin-top: auto;
    }
}

    .productCard:hover {
        transform: scale(1.04);
        transition: 0.1s;
    }

    .productCard .addToCart:hover {
        background: var(--cardBgHover);
        border: 2px solid var(--cardButtonHoverBorder);
        color: var(--cardButtonBgTextHover);
        transition: 0.2s;
    }