.profilePageBg {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 100px;

    .profileBody {
        width: 50vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        height: 60vh;
        background-color: #ffba7e;
        padding: 30px;

        .topSection {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            width: 700px;

            img {
                width: 120px;
            }

            .nameAndEmail {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                gap: 10px;
                font-size: 24px;

                span:nth-child(1) {
                    font-weight: bold;
                }

                span:nth-child(2) {
                    opacity: 0.5;
                }
            }
        }

        .registrationDate {
            font-weight: bold;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 100px;
        }

        hr {
            width: 700px;
        }

        .userPreferences{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            span{
                font-size: 20px;
                font-weight: bold;
            }

            ul{
                display: flex;
                gap: 40px;
                font-size: 18px;

                .preferenceTag{
                    background-color: white;
                    border-radius: 50px;
                    padding: 10px;
                    font-weight: bold;
                    color: #ff7700;
                }
            }
        }
    }
}

.noProfileBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: var(--bg);
    background-color: var(--bgColor);

    .noProfileContainer{
        width: 50vw;
        height: 60vh;
        background-color: var(--noProfileBg);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        flex-direction: column;
        gap: 80px;

        h2{
            color: var(--auxText);
        }

        .signInOrUp{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 50%;
            gap: 50px;

            button{
                background-color: var(--profileButton);
                width: 200px;
                height: 40px;
                text-align: center;
                padding: 10px 20px;
                border: none;
                border-radius: 5000px;
                font-size: 14px;
                font-weight: bold;
            }

            span{
                font-weight: bold;
                color: var(--auxText);

                a{
                    text-decoration: none;
                    color: var(--importantText);
                }
            }
        }
    }
}
