.profileModalBg {
    width: 100vw;
    height: 100vh;
    backdrop-filter: brightness(0.8);
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1;

    .modalBody {
        background-color: var(--profileModal);
        width: 51.05vw;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .profileChip {
            width: 40vw;
            height: 25vh;
            background-color: var(--profileChip);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            img {
                width: 100px;
            }

            .profile {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .nameAndSignIn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 20px;

                    span:nth-child(1) {
                        font-weight: bold;
                    }

                    a{
                        border-radius: 200px;
                        padding: 10px 55px;
                        background-color: var(--profileChipButton);
                    }
                }
            }

            .notLoggedIn {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 20px;

                span:nth-child(1) {
                    font-weight: bold;
                }

                span:nth-child(2) {
                    opacity: 0.5;
                }

                button {
                    background-color: var(--profileChipButton);
                    width: 200px;
                    padding: 10px;
                    border: none;
                    border-radius: 20px;
                }
            }
        }
    }
}
